<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta charset="UTF-8">
<title>게시판목록</title>
</head>
<body>
 <table border="1">
      <thead>
      <tr>
        <th>글번호</th>
        <th>작성자명</th>      
        <th>제목</th>
        <th>작성일자</th>
        <th>조회수</th>
      </tr>
      </thead>
      
      <tbody>
      <tr th:each="p : ${posts}">
        <td th:text="${p.boardid}"></td>
        <td th:text="${p.nickname}"></td>
        <td>
        	<a th:href="@{'/post/info/' + ${p.boardid}}">
			<span th:text="${p.boardtitle}"></span>
			</a> 
		</td>
        <td th:text="${#temporals.format(p.regdate,'yyyy-MM-dd')}"></td>
    	<td th:text="${p.views}"></td> 
      </tr>
      </tbody>
  </table>
  
  <button type="button" onclick="location.href='/'">메인</button>
  <span class="posting" sec:authorize="isAuthenticated()">
  <button type="button" class="post" onClick="location.href='/board/postssave'">글등록</button>
  </span>
  


</body>
</html>