<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout1}">

<head>
	<meta charset="UTF-8">
	<title>회원정보수정</title>
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<th:block layout:fragment="css">
	<style>
#edit {
	border: 2px solid #4caf50;
	border-radius: 5px;
	width: 100px;
	font-size: 15px;
}

#email, #nickname, #password_2, #phone, #password_1 {
    border: 2px solid olive;
	border-radius: 5px;
	height: 30px;
	width: 440px;
	margin-bottom: 5px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fffde7;
	margin-top: 10%;
	margin-left: 20%;
	margin-right: 20%;
	padding: 10px;
}

#preview-image {
	border-radius: 70%;
	transform: translate(130%);
}

#picture {
	transform: translate(20%);
	margin-bottom: 5%;
}

#update {
	width: 400px;
	margin: auto;
}

label {
	margin-bottom: 0;
}
</style>
</th:block>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<th:block layout:fragment="script">
	<script th:inline="javascript">
		function readImage(input) {
			if (input.files && input.files[0]) {
				// FileReader 인스턴스 생성
				const reader = new FileReader();
				// 이미지가 로드가 된 경우
				reader.onload = e => {
					const previewImage = document.getElementById("preview-image");
					previewImage.src = e.target.result;
				}
				// reader가 이미지 읽도록 하기
				reader.readAsDataURL(input.files[0])
			}
		}
		// input file에 change 이벤트 부여
		// const inputImage = document.getElementById("input-image");
		//inputImage.addEventListener("change", e => {
		//     readImage(e.target)
		//})   

		function validateForm(form) {
			if (form.nickname.value == "") {
				alert("닉네임을 입력하세요.");
				return false;
			}
			if (form.password.value == "") {
				alert("비밀번호를 입력하세요.");
				return false;
			}
			if (form.password2.value == "") {
				alert("비밀번호 체크를 해주세요.");
				return false;
			}
			if (form.password.value != form.password2.value) {
				alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
				return false;
			}
			if (form.phone.value == "") {
				alert("전화번호를 입력하세요.");
				return false;
			}
			var reg = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;
			var password = form.password.value;
			console.log(password);
			if (!reg.test(password)) {
				alert("비밀번호는 영문+숫자+특수문자를 혼합하여 8자 이상으로 입력해주세요.");
				return false;
			}
			var reg = /^[0-9]{10,11}/;
			var phone = form.phone.value;
			if (!reg.test(phone)) {
				alert("전화번호는 10~11자 숫자만 입력해주세요.");
				return false;
			}
		}
	</script>
</th:block>

<body>
	<div layout:fragment="content">
		<form action="/members/update3" method="post" name="updateForm" enctype="multipart/form-data"
			th:onsubmit="return validateForm(this);">
			<h2>회원정보 수정🎈</h2>
			<div id="update">
				<img style="width: 100px; height: 100px;" id="preview-image" th:src="@{ ${name.picture} }" />
				<input type="hidden" name="picture" th:value=${name.picture} />
				<input style="display: block;" type="file" id="picture" name="file" onchange="readImage(this)"
					accept="image/png, image/jpg, image/jpeg">
			</div>
			<div id="update">
				<label th:for="email">이메일</label>
				<input type="email" th:value="${name.email}" name="email" id="email" readonly
					style="background: lightgray;">
			</div>
			<div id="update">
				<label th:for="nickname">닉네임</label>
				<input type="text" id="nickname" th:value="${name.nickname}" name="nickname"
					placeholder="닉네임을 입력해주세요."><br>
			</div>
			<div id="update">
				<label th:for="password">비밀번호</label>
				<input type="password" id="password_1" name="password"
					placeholder="영문+숫자+특수문자를 혼합하여 8자 이상으로 입력해주세요."><br>
			</div>
			<div id="update">
				<label th:for="password2">비밀번호 확인</label>
				<input type="password" placeholder="비밀번호를 다시 입력해주세요." id="password_2" name="password2">
			</div>
			<font id="checkPw" size="2"></font>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			<div id="update">
				<label th:for="phone">전화번호</label>
				<input type="text" th:value="${name.phone}" name="phone" id="phone" placeholder="전화번호를 입력해주세요."><br>
			</div>
			<input type="hidden" th:value="${name.role}" name="role" id="role"><br>
			<button id="edit" type="submit">수정하기</button>

			<br />
			<br />
			<img src="/images/backkey.png" width="50px" height="50px" onclick="window.history.back();"
				style="position: fixed; bottom:20px; right:20px;" id="back">

		</form>
		<script>
			$('#password_2').keyup(function () {
				let pass1 = document.getElementById('password_1').value;
				let pass2 = document.getElementById('password_2').value;

				if (pass1 != "" && pass2 != "") {
					if (pass1 == pass2) {
						$("#checkPw").html('비밀번호가 일치합니다');
						$("#checkPw").attr('color', '#2fb380');
						$("#password_2").addClass("is-valid");
						$("#password_2").removeClass("is-invalid");
						$("#btnConfirm").prop("disabled", false);
					} else {
						$("#checkPw").html('비밀번호가 일치하지 않습니다');
						$("#checkPw").attr('color', '#dc3545');
						$("#password_2").removeClass("is-valid");
						$("#password_2").addClass("is-invalid");
						$("#btnConfirm").prop("disabled", true);
					}
				} else if (pass1 != "" && pass2 == "") {
					$("#checkPw").html('');
					$("#checkPw").attr('color', 'whie');
					$("#password_2").addClass("is-valid");
					$("#password_2").removeClass("is-invalid");
					$("#btnConfirm").prop("disabled", false);
				}
			});
			$('#password_1').keyup(function () {
				let pass1 = document.getElementById('password_1').value;
				let pass2 = document.getElementById('password_2').value;

				if (pass1 != "" && pass2 != "") {
					if (pass1 == pass2) {
						$("#checkPw").html('비밀번호가 일치합니다');
						$("#checkPw").attr('color', '#2fb380');
						$("#password_2").addClass("is-valid");
						$("#password_2").removeClass("is-invalid");
						$("#btnConfirm").prop("disabled", false);
					} else {
						$("#checkPw").html('비밀번호가 일치하지 않습니다');
						$("#checkPw").attr('color', '#dc3545');
						$("#password_2").removeClass("is-valid");
						$("#password_2").addClass("is-invalid");
						$("#btnConfirm").prop("disabled", true);
					}
				}
			});
		</script>
	</div>
</body>

</html>