<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="header">
	<nav id="nav" class="navbar navbar-expand-lg bg-light">
    	<div id="nav" class="container-fluid" style="height:60px" >    
		<img src="/images/logo.png" onclick="location.href='/'" width="100px;">
    	<!--<a class="navbar-brand" href="/" style="color:white">Home</a> -->
    	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      	<div class="navbar-nav">
		      <a id="nav" class="nav-link" sec:authorize="isAuthenticated()" href="/board/boardlist">게시판</a>
		      </sec:authorize>
		      <a id="nav" class="nav-link" sec:authorize="isAuthenticated()" href="/planner/list">계획서</a>
	      	  </sec:authorize>
	    	  <a id="nav" class="nav-link" sec:authorize="isAuthenticated()" href="/members/mypage">마이페이지</a>
	      	  </sec:authorize>
	      	  <a id="nav" class="nav-link" sec:authorize="isAuthenticated()" href="/members/logout"> 로그아웃</a>
	      	  </sec:authorize>
	      	  <a id="nav" class="nav-link" sec:authorize="isAnonymous()" href="/members/login">로그인</a>
    		  </sec:authorize>
        </div>
       </div>
      </div>
    </nav>
</div>
</body>
</html>