#modal.modal-overlay {
    width: 100%;
    height: 930px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal .modal-window {
    background: #ffee76b8;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 70%;
    height: 70%;
    position: relative;
    top: 10px;
    padding: 10px;
    overflow-y: auto;
}

#modal .title {
    padding-left: 10px;
    display: inline-block;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

#modal .title h2 {
    display: inline-block;
}

#modal .close-area {
    display: inline-block;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: pink;
    
}

#modal .content {
    margin-top: 20px;
    padding: 0px 10px;
    text-shadow: 1px 1px 2px gray;
}

#modal button{
	border-radius: 5px;
	border: 1px solid;
	height:23px;
	background-color: #ffc3d8;	
}

#modal .piechart{
	display: inline-block;
}

#modal #cchart {
	display: flex;
	justify-content: space-around;
	
}

#modal #grade {
	margin: 30px 30px 0px 30px;
	display: relative;
}

#modal #modaldata {
	display: block;
}

#back {
	display: none;
}

#checkpp {
	width: 100px;
	height: 100px;
	margin: 200px auto auto auto;
	display: block;
}

#checkppn {
	width: 60px;
	height: 50px;
	margin: auto;
	display: block;
}

select {
	width: 200px;
	display: block;
}

button {
	width: 90px;
}