#modal .content {
    margin-top: 20px;
    padding: 0px 10px;
    text-shadow: 1px 1px 2px gray;
}

.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal1.modal-window {
    background: #ffee76b8;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 70%;
    height: 85%;
    top: 10px;
    padding: 10px;
    overflow-y: auto;
    justify-content: center;
}

.title {
    padding-left: 10px;
    display: block;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

.title h2 {
    display: inline-block;
}

.close-area {
    display: inline-block;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: pink;
}

#modal button{
   border-radius: 5px;
   border: 1px solid;
   height:23px;
   width: 85px;
   background-color: #ffc3d8;   
   display: inline-block;
}

.piechart{
   display: inline-block;
}

#cchart {
   display: flex;
   justify-content: space-around;
   
}

#grade {
   margin: 30px 30px 0px 30px;
   display: relative;
}

#modaldata {
   display: block;
}

#back {
   display: none;
}

#checkp {
   width: 100%;  
   display: relative; 
}

#checkpp {
   width: 100px;
   height: 100px;
   margin: 350px auto auto auto;
   display: block;
}

#checkppn {
   width: 60px;
   height: 50px;
   margin: auto;
   display: block;
}

select {
   width: 200px;
   display: inline-block;
}

#modal2.modal-window {
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 100%;
    height: 100%;
    top: 10px;
    padding: 10px;
    overflow-y: auto;
    justify-content: center;
}

#modal2 .close-area {
    display: inline-block;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: black;
}

.content {
   display: block;
}

#charname {
	text-align: center;
}