<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout1}">

<head>
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
	<meta charset="UTF-8">
	<title>사업계획서 작성</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<script th:inline="javascript">
	$(document).ready(function () {
		var errorMessage = [[${errorMessage}]];
		if (errorMessage != null) {
			alert(errorMessage);
		}
	});
</script>
<th:block layout:fragment="css">
	<style>
		input[readonly] {background-color: #8BD145;}
		#post {text-align: center;}
		#Title {text-align: center;}
		#comment {
			width: 250px;
      		height: 26px;
      		background: lightgray;
      		position: relative;
      		-moz-border-radius: 10px;
      		-webkit-border-radius: 10px;
      		border-radius: 5px;
			position: absolute;
			display: none;
			color: purple;
		}
		
	  	#comment:before {
      		content: "";
      		position: absolute;
      		right: 95%;
      		top: 0px;
      		width: 0;
      		height: 10;
      		border-top: 13px solid transparent;
      		border-right: 26px solid lightgray;
      		border-bottom: 13px solid transparent;
      	}
      	
      	#comment1 {
			width: 190px;
      		height: 26px;
      		background: lightgray;
      		position: relative;
      		-moz-border-radius: 10px;
      		-webkit-border-radius: 10px;
      		border-radius: 5px;
			position: absolute;
			display: none;
			color: purple;
		}
		
	  	#comment1:before {
      		content: "";
      		position: absolute;
      		right: 95%;
      		top: 0px;
      		width: 0;
      		height: 10;
      		border-top: 13px solid transparent;
      		border-right: 26px solid lightgray;
      		border-bottom: 13px solid transparent;
      	}
  
		#com:hover+#comment {display: inline-block;}
		#com:hover+#comment1 {display: inline-block;}		
		#days,#ends{width:80px;}
		#plannerpost{
			width: 120px;
			border-radius: 5px;
			border: 2px solid #4caf50;
		}
		#delRatio,#costRate,#profitRatio{position:relative; right:9px;}
	</style>
</th:block>
 
<body>
	<div layout:fragment="content">
		<form onSubmit="return validateForm(this);">
			<div id="post">
				<br />
				<label>계획서 제목 : </label> <input type="text" id="Title" th:name="plannerTitle"
					onFocus="this.value='';return true;"><br>
				<label>업종 : </label>
				<select th:name="category" onchange="changeSelect()">
					<option value="none">==선택==</option>
					<option value="restaurants">음식점</option>
					<option value="retail">도/소매점</option>
					<option value="services">서비스업</option>
				</select>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				<br />
				<br />
				<fieldset>
					<legend>월매출 계산</legend>
					<table align="center" width="65%" border="1">
						<thead>
							<tr>
								<th>구분</th>
								<th id="totalMonSales1">원</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									평균객단가
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment1">고객 1인당 평균매입</div>
								</td>
								<td>
									<input type="text" id="avgPrice" th:name="avgPrice" onkeyup="inputComma(this)" />원
								</td>
							</tr>
							<tr>
								<td class="res-ser">
									평일방문고객수
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment">평일에 방문하는 고객의 추정치</div>
								</td>
								<td class="retail" style="display:none">
									평일매장판매
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment">평일에 판매하는 상품개수의 추정치</div>
								</td>
								<td><input type="text" id="avgDayVisit" th:name="avgDayVisit"
										onFocus="this.value='';return true;">건</td>
							</tr>
							<tr class="res-ret">
								<td class="restaurants">
									평일배달건수
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment">평일 배달건수의 추정치</div>
								</td>
								<td class="retail" style="display:none">
									평일택배건수
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment">평일 택배건수의 추정치</div>
								</td>
								<td><input type="text" id="avgDayDeli" th:name="avgDayDeli"
										onkeyup="inputComma(this)" />건</td>
							</tr>
							<tr>
								<td>
									평일일일매출
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment1">판매단가x판매수</div>
								</td>
								<td><input type="text" id="avgDaySales" onchange="inputComma(this)" readonly />원</td>
							</tr>
							<tr>
								<td class="res-ser">
									주말방문고객수
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment">주말에 방문하는 고객의 추정치</div>
								</td>
								<td class="retail" style="display:none">
									주말매장판매
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment">주말에 판매하는 상품개수의 추정치</div>
								</td>
								<td><input type="text" id="avgEndVisit" th:name="avgEndVisit"
										onkeyup="inputComma(this)" />건</td>
							</tr>
							<tr class="res-ret">
								<td class="restaurants">
									주말배달건수
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment">주말 배달건수의 추정치</div>
								</td>
								<td class="retail" style="display:none">
									주말택배건수
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment">주말 택배건수의 추정치</div>
								</td>
								<td><input type="text" id="avgEndDeli" th:name="avgEndDeli" class="res-ret"
										onkeyup="inputComma(this)" />건</td>
							</tr>
							<tr>
								<td>
									주말일일매출
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment1">판매단가x판매수</div>
								</td>
								<td id="won"><input type="text" id="avgEndSales" readonly />원</td>
							</tr>
							<tr>
								<td>
									월평일매출(<input type="text" id='days' value='1' th:name="days"
										onkeyup="inputComma(this)" />일)
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment">평일매출x한달평일영업일</div>
								</td>
								<td id="won"><input type="text" id="avgMonDaySales" readonly>원</td>
							</tr>
							<tr>
								<td>
									월주말매출(<input type="text" id='ends' value='1' th:name="ends"
										onkeyup="inputComma(this)" />일)
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment">주말매출x한달주영업일</div>
								</td>
								<td id="won"><input type="text" id="avgMonEndSales" readonly>원</td>
							</tr>
							<tr class="restaurants">
								<td>
									배달비율(0.0~1.0)
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment">총 판매건수 대비 배달 비율</div>
								</td>
								<td><input type="text" id="delRatio" readonly> </td>
							</tr>
							<tr>
								<td>
									총매출
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment1">한달 총 매출</div>
								</td>
								<td><input type="text" id="totalSales" readonly>원</td>
							</tr>
							<tr>
								<td>
									일평균매출
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment1">총매출/총영업일</div>
								</td>
								<td id="won"><input type="text" id="avgSalesPerDay" readonly>원</td>
							</tr>
						</tbody>
					</table>
				</fieldset>
				<br />
				<br />
				<fieldset>
					<legend>손익계산서</legend>
					<table align="center" width="65%" border="1">
						<thead>
							<tr>
								<th colspan="2">월매출</th>
								<th id="totalMonSales2">원</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>초기비용</td>
								<td>
									시설비
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment">장비, 집기, 인테리어 등</div>
								</td>
								<td><input type="text" id="initCost" th:name="initCost" onkeyup="inputComma(this)" />원
								</td>
							</tr>
							<tr>
								<td class="restaurants" rowspan="11">고정비</td>
								<td class="retail" rowspan="10" style="display:none">고정비</td>
								<td class="services" rowspan="9" style="display:none">고정비</td>
								<td>
									임차관리비
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment1">임차비+관리비</div>
								</td>
								<td><input type="text" id="rentCost" th:name="rentCost" onkeyup="inputComma(this)" />원
								</td>
							</tr>
							<tr>
								<td>
									인건비
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment1">총 인건비</div>
								</td>
								<td><input type="text" id="totalSalary" th:name="totalSalary"
										onkeyup="inputComma(this)" />원</td>
							</tr>
							<tr>
								<td>
									4대보험
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment1">인건비의 9%</div>
								</td>
								<td><input type="text" id="insurance4" readonly>원</td>
							</tr>
							<tr>
								<td>
									퇴직충당금
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment1">인건비의 8.3%</div>
								</td>
								<td><input type="text" id="retire" readonly>원</td>
							</tr>
							<tr>
								<td>
									보험료(책임배상+화재)
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment">책임배상, 화제 등 각종 보험료</div>
								</td>
								<td><input type="text" id="insurance" th:name="totInsurance"
										onkeyup="inputComma(this)" />원</td>
							</tr>
							<tr class="res-ret">
								<td class="restaurants">
									배달앱사용료(15%)
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment1">총 배달비의 15%</div>
								</td>
								<td class="retail" style="display:none">
									배송비용(3000원)
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment">택배비 3000원 산정</div>
								</td>
								<td id="won"><input type="text" id="deliCost" readonly>원</td>
							</tr>
							<tr>
								<td>
									렌탈비
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment1">각종 장비 렌탈비</div>
								</td>
								<td><input type="text" id="etcRent" th:name="etcRent" onkeyup="inputComma(this)" />원
								</td>
							</tr>
							<tr class="restaurants">
								<td>
									요식중앙회
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment1">요식중앙회 회비</div>
								</td>
								<td><input type="text" id="dues" th:name="dues" onkeyup="inputComma(this)" />원</td>
							</tr>
							<tr>
								<td>
									감가상각비
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment">60개월 기준 감가상각비</div>
								</td>
								<td><input type="text" id="depreciation" readonly>원</td>
							</tr>
							<tr>
								<td>
									대출이자
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment">월 납입 대출이자</div>
								</td>
								<td><input type="text" id="interest" th:name="interest" onkeyup="inputComma(this)" />원
								</td>
							</tr>
							<tr>
								<td>
									고정비소계
								</td>
								<td><input type="text" id="fixedCost" readonly>원</td>
							</tr>
							<tr>
								<td class="restaurants" rowspan="9">변동비</td>
								<td class="retail" rowspan="9" style="display:none">변동비</td>
								<td class="services" rowspan="8" style="display:none">변동비</td>
								<td class="res-ret">
									원가율(0.0~1.0)
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment1">매출액에서 원가가 차지하는 비율</div>
								</td>
								<td class="res-ret"><input class="res-ret" type="text" id="costRate"
										th:name="costRate" /></td>
							</tr>

							<tr class="res-ret">
								<td class="restaurants">
									식재료비
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment1">매출액x원가율</div>
								</td>
							
								<td class="retail" style="display:none">
									매입비
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment1">매출액x원가율</div>
								</td>
								<td class="res-ret"><input type="text" id="foodCost" readonly>원</td>
							</tr>
							<tr>
								<td>
									아르바이트
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment1">총 아르바이트 비용</div>
								</td>
								<td id="won"><input type="text" id="partTime" th:name="partTime"
										onkeyup="inputComma(this)" />원</td>
							</tr>
							<tr>
								<td>
									수도,전기,가스
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment">수도, 전기, 가스비</div>
								</td>
								<td id="won"><input type="text" id="w_e_g" th:name="w_e_g"
										onkeyup="inputComma(this)" />원</td>
							</tr>
							<tr>
								<td>
									소모품비
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment1">소모품비</div>
								</td>
								<td id="won"><input type="text" id="expand" th:name="expand"
										onkeyup="inputComma(this)" />원</td>
							</tr>
							<tr>
								<td>
									광고비
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment1">광고비</div>
								</td>
								<td id="won"><input type="text" id="advertise" th:name="advertise"
										onkeyup="inputComma(this)" />원</td>
							</tr>
							<tr>
								<td>
									각종 세금(6개월)매달 충당
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment">부가가치세 및 각종 세금</div>
								</td>
								<td id="won"><input type="text" id="taxCost" readonly>원</td>
							</tr>
							<tr>
								<td>
									기타비용
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment1">기타비용</div>
								</td>
								<td id="won"><input type="text" id="etc" th:name="etc" onkeyup="inputComma(this)" />원
								</td>
							</tr>
							<tr>
								<td>
									변동비소계
								</td>
								<td id="won"><input type="text" id="flexCost" readonly>원</td>
							</tr>
							<tr>
								<td colspan="2">
									순이익
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment1">순이익 설명</div>
								</td>
								<td id="won"><input type="text" id="netProfit" readonly>원</td>
							</tr>
							<tr>
								<td colspan="2">
									영업이익률(0.0~1.0)
									<img src="/images/search.PNG" width="30px" height="30px" id="com">
									<div id="comment1">매출액에서 발생한 영업수익에 대한 영업이익의 비율</div>
								</td>
								<td><input type="text" id="profitRatio" readonly></td>
							</tr>
						</tbody>
					</table>
					<br />
					<br />
				</fieldset>
			</div>
		</form>
		<form action="/planner/writepro" role="form" method="post" th:object="${plannerFormDto}"
			onSubmit="return validateForm(this);">
			<div id="post">
				<input type="hidden" id="hTitle" th:name="plannerTitle"><br>
				<input type="hidden" id="hselect" th:name="category">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				<fieldset>
					<tr>
						<td>
							<input type="hidden" id="havgPrice" th:name="avgPrice" onload="inputComma(this)" />
						</td>
					</tr>
					<tr>
						<td class="res-ser" />
						<td class="retail" style="display:none" />
						<td><input type="hidden" id="havgDayVisit" th:name="avgDayVisit" /></td>
					</tr>
					<tr class="res-ret">
						<td class="restaurants" />
						<td class="retail" style="display:none" />
						<td><input type="hidden" id="havgDayDeli" th:name="avgDayDeli" /></td>
					</tr>
					<tr>
						<td><input type="hidden" id="havgDaySales" readonly /></td>
					</tr>
					<tr>
						<td class="res-ser" />
						<td class="retail" style="display:none" />
						<td><input type="hidden" id="havgEndVisit" th:name="avgEndVisit" /></td>
					</tr>
					<tr class="res-ret">
						<td class="restaurants" />
						<td class="retail" style="display:none" />
						<td><input type="hidden" id="havgEndDeli" th:name="avgEndDeli" class="res-ret" /></td>
					</tr>
					<tr>
						<td id="won"><input type="hidden" id="havgEndSales" readonly /></td>
					</tr>
					<tr>
						<td><input type="hidden" id='hdays' value='1' th:name="days" /></td>
						<td id="won"><input type="hidden" id="havgMonDaySales" readonly></td>
					</tr>
					<tr>
						<td><input type="hidden" id='hends' value='1' th:name="ends" /></td>
						<td id="won"><input type="hidden" id="havgMonEndSales" readonly></td>
					</tr>
					<tr class="restaurants">
						<td><input type="hidden" id="hdelRatio" readonly> </td>
					</tr>
					<tr>
						<td id="won"><input type="hidden" id="htotalSales" readonly></td>
					</tr>
					<tr>
						<td id="won"><input type="hidden" id="havgSalesPerDay" readonly></td>
					</tr>
					<tr>
						<td><input type="hidden" id="hinitCost" th:name="initCost" /></td>
					</tr>
					<tr>
						<td class="restaurants" rowspan="11" />
						<td class="retail" rowspan="10" style="display:none" />
						<td class="services" rowspan="9" style="display:none" />
						<td><input type="hidden" id="hrentCost" th:name="rentCost" /></td>
					</tr>
					<tr>
						<td><input type="hidden" id="htotalSalary" th:name="totalSalary" /></td>
					</tr>
					<tr>
						<td><input type="hidden" id="hinsurance4" readonly></td>
					</tr>
					<tr>
						<td><input type="hidden" id="hretire" readonly></td>
					</tr>
					<tr>
						<td><input type="hidden" id="hinsurance" th:name="totInsurance" /></td>
					</tr>
					<tr class="res-ret">
						<td class="restaurants"></td>
						<td class="retail" style="display:none"></td>
						<td id="won"><input type="hidden" id="hdeliCost" readonly></td>
					</tr>
					<tr>
						<td><input type="hidden" id="hetcRent" th:name="etcRent" /></td>
					</tr>
					<tr class="restaurants">
						<td><input type="hidden" id="hdues" th:name="dues" /></td>
					</tr>
					<tr>
						<td><input type="hidden" id="hdepreciation" readonly></td>
					</tr>
					<tr>
						<td><input type="hidden" id="hinterest" th:name="interest" /></td>
					</tr>
					<tr>
						<td><input type="hidden" id="hfixedCost" readonly></td>
					</tr>
					<tr>
						<td class="restaurants" rowspan="9" />
						<td class="retail" rowspan="9" style="display:none" />
						<td class="services" rowspan="8" style="display:none" />
						<td class="res-ret" />
						<td class="res-ret"><input class="res-ret" type="hidden" id="hcostRate" th:name="costRate" />
						</td>
					</tr>
					<tr class="res-ret">
						<td class="restaurants" />
						<td class="retail" style="display:none" />
						<td class="res-ret"><input type="hidden" id="hfoodCost" readonly></td>
					</tr>
					<tr>
						<td id="won"><input type="hidden" id="hpartTime" th:name="partTime" /></td>
					</tr>
					<tr>
						<td id="won"><input type="hidden" id="hw_e_g" th:name="w_e_g" /></td>
					</tr>
					<tr>
						<td id="won"><input type="hidden" id="hexpand" th:name="expand" /></td>
					</tr>
					<tr>
						<td id="won"><input type="hidden" id="hadvertise" th:name="advertise" /></td>
					</tr>
					<tr>
						<td id="won"><input type="hidden" id="htaxCost" readonly></td>
					</tr>
					<tr>
						<td id="won"><input type="hidden" id="hetc" th:name="etc" /></td>
					</tr>
					<tr>
						<td id="won"><input type="hidden" id="hflexCost" readonly></td>
					</tr>
					<tr>
						<td id="won"><input type="hidden" id="hnetProfit" readonly></td>
					</tr>
					<tr>
						<td><input type="hidden" id="hprofitRatio" readonly></td>
					</tr>
					<button type="submit" id="plannerpost">저장하기</button>

					<br />
					<br />
				</fieldset>
			</div>
		</form>
		<script>
			function changeSelect() {
				switch ($('select').val()) {
					case 'restaurants':
						console.log('res');
						$('.restaurants').show();
						$('.retail').hide();
						$('.services').hide();
						$('.res-ser').show();
						$('.res-ret').show();
						$('.ret-ser').hide();
						calc();
						$('#hselect').val('음식점');
						break;
					case 'retail':
						console.log('ret');
						$('.restaurants').hide();
						$('.retail').show();
						$('.services').hide();
						$('.ret-ser').show();
						$('.res-ret').show();
						$('.res-ser').hide();
						calc();
						$('#hselect').val('도/소매점');
						break;
					case 'services':
						console.log('ser');
						$('.restaurants').hide();
						$('.retail').hide();
						$('.services').show();
						$('.res-ser').show();
						$('.ret-ser').show();
						$('.res-ret').hide();
						calc();
						$('#hselect').val('서비스업');
						break;
				}
			};

			function inputComma(obj) {
				obj.value = comma(uncomma(obj.value));
			}

			function comma(str) {
				return str.toString().replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
			}

			function uncomma(str) {
				return str.toString().replace(/[^\d]+/g, '');
			}

			function calc() {
				let avgPrice = Number(uncomma(document.getElementById('avgPrice').value));
				let avgDayVisit = Number(uncomma(document.getElementById('avgDayVisit').value));
				let avgDayDeli = Number(uncomma(document.getElementById('avgDayDeli').value));
				let avgDaySales1 = avgPrice * (avgDayVisit + avgDayDeli);
				let avgDaySales2 = comma(avgDaySales1.toFixed(0));
				$("#avgPrice").val(comma(avgPrice));
				$("#avgDayVisit").val(comma(avgDayVisit));
				$("#avgDayDeli").val(comma(avgDayDeli));
				$("#avgDaySales").val(avgDaySales2);
				$("#hTitle").val(document.getElementById('Title').value);
				$("#havgPrice").val(avgPrice);
				$("#havgDayVisit").val(avgDayVisit);
				$("#havgDayDeli").val(avgDayDeli);
				$("#havgDaySales").val(avgDaySales1);

				let avgEndVisit = Number(uncomma(document.getElementById('avgEndVisit').value));
				let avgEndDeli = Number(uncomma(document.getElementById('avgEndDeli').value));
				let avgEndSales1 = avgPrice * (avgEndVisit + avgEndDeli);
				let avgEndSales2 = comma(avgEndSales1.toFixed(0));;
				$("#avgEndVisit").val(comma(avgEndVisit));
				$("#avgEndDeli").val(comma(avgEndDeli));
				$("#avgEndSales").val(avgEndSales2);
				$("#havgEndVisit").val(avgEndVisit);
				$("#havgEndDeli").val(avgEndDeli);
				$("#havgEndSales").val(avgEndSales1);

				let avgDaySales = Number(uncomma(document.getElementById('avgDaySales').value));
				let avgEndSales = Number(uncomma(document.getElementById('avgEndSales').value));
				let days = Number(uncomma(document.getElementById('days').value));
				let ends = Number(uncomma(document.getElementById('ends').value));
				let avgMonDaySales = avgDaySales * days;
				let avgMonDaySales1 = comma(avgMonDaySales.toFixed(0));
				$("#avgDaySales").val(comma(avgDaySales));
				$("#avgEndSales").val(comma(avgEndSales));
				$("#days").val(comma(days));
				$("#ends").val(comma(ends));
				$("#avgMonDaySales").val(avgMonDaySales1);
				$("#havgDaySales").val(avgDaySales);
				$("#havgEndSales").val(avgEndSales);
				$("#hdays").val(days);
				$("#hends").val(ends);
				$("#havgMonDaySales").val(avgMonDaySales);

				let avgMonEndSales = avgEndSales * ends;
				let avgMonEndSales1 = comma(avgMonEndSales.toFixed(0));
				$("#avgMonEndSales").val(avgMonEndSales1);
				$("#havgMonEndSales").val(avgMonEndSales);

				let delRatio = (avgDayDeli * days + avgEndDeli * ends) / ((avgDayDeli + avgDayVisit) * days + (avgEndDeli + avgEndVisit) * ends);
				$("#delRatio").val(delRatio.toFixed(2));
				$("#hdelRatio").val(delRatio.toFixed(2));

				let totalSales1 = avgDaySales * days + avgEndSales * ends;
				let totalSales2 = comma(totalSales1.toFixed(0));
				$("#totalSales").val(totalSales2);
				let totalSales = Number(uncomma(document.getElementById('totalSales').value));
				let avgSalesPerDay = (avgDaySales * days + avgEndSales * ends) / (days + ends);
				let avgSalesPerDay1 = comma(avgSalesPerDay.toFixed(0));
				$("#avgSalesPerDay").val(avgSalesPerDay1);
				$("#totalMonSales").html(avgDaySales * days + avgEndSales * ends + ' 원');
				$("#htotalSales").val(totalSales);
				$("#havgSalesPerDay").val(avgSalesPerDay);

				let initCost = Number(uncomma(document.getElementById('initCost').value));
				let depreciation1 = initCost / 60;
				let depreciation2 = comma(depreciation1.toFixed(0));
				$("#initCost").val(comma(initCost));
				$('#depreciation').val(depreciation2);
				$('#hinitCost').val(initCost);
				$('#hdepreciation').val(depreciation1);

				let rentCost = Number(uncomma(document.getElementById('rentCost').value));
				let totalSalary = Number(uncomma(document.getElementById('totalSalary').value));
				let insurance4 = Number(uncomma(document.getElementById('insurance4').value));
				let insurance = Number(uncomma(document.getElementById('insurance').value));
				$("#rentCost").val(comma(rentCost));
				$("#totalSalary").val(comma(totalSalary));
				$("#insurance4").val(comma(insurance4));
				$("#insurance").val(comma(insurance));
				$('#hrentCost').val(rentCost);
				$('#htotalSalary').val(totalSalary);
				$('#hinsurance4').val(insurance4);
				$('#hinsurance').val(insurance);
				if ($('select').val() == 'restaurants') {
					let deliCost = ((avgDaySales * days) + (avgEndSales * ends)) * 0.15 * delRatio;
					let deliCost1 = comma(deliCost.toFixed(0));
					$('#deliCost').val(deliCost1);
					$('#hdeliCost').val(deliCost);
				} else if ($('select').val() == 'retail') {
					let deliCost = 3000 * (avgDayDeli * days + avgEndDeli * ends);
					let deliCost1 = comma(deliCost.toFixed(0));
					$('#deliCost').val(deliCost1);
					$('#hdeliCost').val(deliCost);
				} else {
					$('#deliCost').val('0');
					$('#hdeliCost').val('0');
				}

				let retire = Number(uncomma(document.getElementById('retire').value));
				let deliCost = Number(uncomma(document.getElementById('deliCost').value));
				let etcRent = Number(uncomma(document.getElementById('etcRent').value));
				let dues = Number(uncomma(document.getElementById('dues').value));
				let depreciation = Number(uncomma(document.getElementById('depreciation').value));
				let interest = Number(uncomma(document.getElementById('interest').value));
				let insurance42 = totalSalary / 11
				let insurance41 = comma(insurance42.toFixed(0));
				$("#retire").val(comma(retire));
				$("#deliCost").val(comma(deliCost));
				$("#etcRent").val(comma(etcRent));
				$("#dues").val(comma(dues));
				$("#depreciation").val(comma(depreciation));
				$("#rentCost").val(comma(rentCost));
				$("#interest").val(comma(interest));
				$('#insurance4').val(insurance41);
				$('#hretire').val(retire);
				$('#hdeliCost').val(deliCost);
				$('#hetcRent').val(etcRent);
				$('#hdues').val(dues);
				$('#hdepreciation').val(depreciation);
				$('#hinterest').val(interest);
				$('#hinsurance4').val(insurance42);

				let retire1 = totalSalary / 12;
				let retire2 = comma(retire1.toFixed(0));
				$('#retire').val(retire2);
				$('#hretire').val(retire1);

				let fixedCost = rentCost + totalSalary + insurance42 + retire + insurance + deliCost + etcRent + dues + depreciation + interest;
				let fixedCost1 = comma(fixedCost.toFixed(0));
				$('#fixedCost').val(fixedCost1);
				$('#hfixedCost').val(fixedCost);

				if ($('select').val() == 'restaurants') {
					let costRate = Number(document.getElementById('costRate').value);
				} else if ($('select').val() == 'retail') {
					let costRate = 0;
				} else {
					let costRate = 0;
				}
				let costRate = Number(document.getElementById('costRate').value);
				let partTime = Number(uncomma(document.getElementById('partTime').value));
				let w_e_g = Number(uncomma(document.getElementById('w_e_g').value));
				let expand = Number(uncomma(document.getElementById('expand').value));
				let advertise = Number(uncomma(document.getElementById('advertise').value));
				let etc = Number(uncomma(document.getElementById('etc').value));
				$("#partTime").val(comma(partTime));
				$("#w_e_g").val(comma(w_e_g));
				$("#expand").val(comma(expand));
				$("#advertise").val(comma(advertise));
				$("#etc").val(comma(etc));
				$('#hcostRate').val(costRate);
				$('#hpartTime').val(partTime);
				$('#hw_e_g').val(w_e_g);
				$('#hexpand').val(expand);
				$('#hadvertise').val(advertise);
				$('#hetc').val(etc);

				let foodCost1 = costRate * (avgDaySales * days + avgEndSales * ends);
				let foodCost2 = comma(foodCost1.toFixed(0));
				$('#foodCost').val(foodCost2);
				$('#hfoodCost').val(foodCost2);

				let foodCost = Number(uncomma(document.getElementById('foodCost').value));
				let taxCost1 = (avgDaySales * days + avgEndSales * ends) * 0.08 / 6;
				let taxCost2 = comma(taxCost1.toFixed(0));
				$('#taxCost').val(taxCost2);
				$('#hfoodCost').val(foodCost);
				$('#htaxCost').val(taxCost1);

				let taxCost = Number(uncomma(document.getElementById('taxCost').value));
				let flexCost = foodCost + partTime + w_e_g + expand + advertise + taxCost + etc;
				let flexCost1 = comma(flexCost.toFixed(0));
				$("#taxCost").val(comma(taxCost));
				$('#flexCost').val(flexCost1);
				$('#htaxCost').val(taxCost);
				$('#hflexCost').val(flexCost);

				let netProfit1 = totalSales - fixedCost - flexCost;
				let netProfit2 = comma(netProfit1.toFixed(0));
				$('#netProfit').val(netProfit2);

				let netProfit = Number(uncomma(document.getElementById('netProfit').value));
				let profitRatio = netProfit / totalSales;
				$('#profitRatio').val(profitRatio.toFixed(2));
				$('#hnetProfit').val(netProfit);
				$('#hprofitRatio').val(profitRatio.toFixed(2));
				inputNaN();
			}
			$('input').keyup(calc);

			const patternInt = /^[0-9]*$/;
			const patternFloat = /^[.0-9]*$/;
			function validateForm(form) {
				if (!form.plannerTitle.value) {
					alert("제목은 필수입력 사항입니다.");
					return false;
				}
				if (form.havgPrice.value == "" || !patternInt.test(form.havgPrice.value)) {
					alert("올바른 평균객단가를 입력해주세요.")
					return false;
				}
				if (form.havgDayVisit.value == "" || !patternInt.test(form.havgDayVisit.value)) {
					alert("올바른 평일방문고객수를 입력해주세요.")
					return false;
				}
				if (form.havgDayDeli.value == "" || !patternInt.test(form.havgDayDeli.value)) {
					alert("올바른 평일배달건수를 입력해주세요.")
					return false;
				}
				if (form.havgEndVisit.value == "" || !patternInt.test(form.havgEndVisit.value)) {
					alert("올바른 주말방문고객수를 입력해주세요.")
					return false;
				}
				if (form.havgEndDeli.value == "" || !patternInt.test(form.havgEndDeli.value)) {
					alert("올바른 주말배달건수를 입력해주세요.")
					return false;
				}
				if (form.hdays.value == "" || !patternInt.test(form.hdays.value)) {
					alert("올바른 평일 영업일을 입력해주세요.")
					return false;
				}
				if (form.hends.value == "" || !patternInt.test(form.hends.value)) {
					alert("올바른 주말 영업일을 입력해주세요.")
					return false;
				}
				if (form.hinitCost.value == "" || !patternInt.test(form.hinitCost.value)) {
					alert("올바른 시설비를 입력해주세요.")
					return false;
				}
				if (form.hrentCost.value == "" || !patternInt.test(form.hrentCost.value)) {
					alert("올바른 임차관리비를 입력해주세요.")
					return false;
				}
				if (form.htotalSalary.value == "" || !patternInt.test(form.htotalSalary.value)) {
					alert("올바른 인건비를 입력해주세요.")
					return false;
				}
				if (form.hinsurance.value == "" || !patternInt.test(form.hinsurance.value)) {
					alert("올바른 보험료를 입력해주세요.")
					return false;
				}
				if (form.hetcRent.value == "" || !patternInt.test(form.hetcRent.value)) {
					alert("올바른 렌탈비를 입력해주세요.")
					return false;
				}
				if (form.hdues.value == "" || !patternInt.test(form.hdues.value)) {
					alert("올바른 요식중앙회비를 입력해주세요.")
					return false;
				}
				if (form.hinterest.value == "" || !patternInt.test(form.hinterest.value)) {
					alert("올바른 대출이자를 입력해주세요.")
					return false;
				}
				if (form.hcostRate.value == "" || !patternFloat.test(form.hcostRate.value) || form.hcostRate.value < 0 || form.hcostRate.value > 1) {
					alert("올바른 원가율를 입력해주세요.")
					return false;
				}
				if (form.hpartTime.value == "" || !patternInt.test(form.hpartTime.value)) {
					alert("올바른 아르바이트비를 입력해주세요.")
					return false;
				}
				if (form.hw_e_g.value == "" || !patternInt.test(form.hw_e_g.value)) {
					alert("올바른 수도,전기,가스비를 입력해주세요.")
					return false;
				}
				if (form.hexpand.value == "" || !patternInt.test(form.hexpand.value)) {
					alert("올바른 소모품비를 입력해주세요.")
					return false;
				}
				if (form.hadvertise.value == "" || !patternInt.test(form.hadvertise.value)) {
					alert("올바른 광고비를 입력해주세요.")
					return false;
				}
				if (form.hetc.value == "" || !patternInt.test(form.hetc.value)) {
					alert("올바른 기타비용을 입력해주세요.")
					return false;
				}
				if (form.hselect.value != "restaurants" || form.hselect.value != "retail" || form.hselect.value != "services"){
					alert("업종을 선택해주세요.")
					return false;
				}
				return true;
			}
			var input = document.getElementsByTagName('input');
			console.log(input);
			console.log(input.length);

			function inputNaN() {
				for (i = 2; i < input.length; i++) {
					if (input[i].value == 'NaN') {
						input[i].value = null;
					}
				}
			}
			clac();
		</script>
	</div>
</body>
</html>